@media screen and (max-width:1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  
  #contact,
  #projects {
    height: fit-content;
  }

}

@media screen and (max-width:1200px) {
    #main-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

}