@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
  color: slategray;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

a, .btn {
    transition: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.links {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.logo {
    font-size: 2rem;
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(164, 162, 162);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

#mobile-nav {
    display: none;
}

.mobile-menu {
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}

/* Sections */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile-section {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: .5px grey solid;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.socials-btn {
    background: none;
    border: none;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

#about {
  position: relative;
}

.about-me-img-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.about-me-img-container img {
    width: 400px;
    height: 400px;
    border-radius: 1.5rem;
    object-fit: cover;
    border: .5px grey solid;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  font-size: 1.5rem;
}

.about-me-info {
  display: flex;
}

.about-me-text {
  margin-left: 4rem;
}

.about-me-banner {
  display: flex;
  gap: 2rem;
  margin: 2rem auto;
}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 20px;
  align-items: center;
  align-content: center;
  line-height: 1.5rem;
}

.banner img {
  height: 2rem;
  margin-bottom: 0.5rem;
}








