@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

a, .btn {
    transition: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.links {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.logo {
    font-size: 2rem;
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(164, 162, 162);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

#mobile-nav {
    display: none;
}

.mobile-menu {
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}
