@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

a, .btn {
    transition: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.links {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.logo {
    font-size: 2rem;
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(164, 162, 162);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

#mobile-nav {
    display: none;
}

.mobile-menu {
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}

/* Sections */

#profile-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.image-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-section {
    align-self: center;
    text-align: center;
}

.text-section p {
    font-weight: 600;
}

.text-section-p1 {
    text-align: center;
}
.text-section-p1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.round {
    border-radius: 50rem;
    border: 2px solid black;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 300;
    transition: all 300ms ease;
    border-radius: 2rem;
    padding: 1rem;
    width: 8rem;
}

.btn-color-1 {
    background-color: whitesmoke;
}
.btn-color-2 {
    background-color: rgb(68, 68, 68);
    color: white;
}




